body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.container {
  flex: 1; /*fill the remaining space */
}
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  font-size: 2rem;
  color: #fe424d;
}

.nav-link {
  color: #222222 !important;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.f-info {
  background-color: #ebebeb;
  height: 8rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.f-info-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: #222222;
}
.f-info-links a {
  color: #222222;
  text-decoration: none;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
  height: 20rem !important;
}
.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}
.listing_link {
  text-decoration: none !important;
}

/* card effect */

.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  height: 2.4rem !important;
  width: 5rem !important;
}

.show-btn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
